{% extends "index.html" %}
{% load static %}

{% block title %}
<title>DataNexa | Change password</title>
{% endblock %}


{% block content %}
<div class="custom-container">
    
    <form action="/change_password/" class="custom-form" method="POST">
        <div class="custom-title">
            <h1>Change your password here.</h1>
        </div>
        {% csrf_token %}
        {{ password_form }}

        <input type="submit" class="form-btn-primary" value="Confirm change password">
    </form>
</div>
{% endblock %}